# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws
out/

# Gradle files
.gradle/
build/

# Log files
*.log
logs/


# Dependency directories
**/target/
**/bin/

# Mac OS
.DS_Store

# Environment files
.env
*.env

# Spring Boot
**/application.properties
**/application.yml
!src/main/resources/application.properties
!src/main/resources/application.yml

# Maven (если вдруг используется)
**/target/
**/pom.xml.asc
**/mvnw
**/mvnw.cmd
**/.mvn/

# Eclipse
.settings/
.project
.classpath
.factorypath

# VSCode
.vscode/

# Temp files
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.orig

# Other
**/.classpath
**/.project
**/.settings/
**/.springBeans
**/dependency-reduced-pom.xml
**/dump.rdb

# Ignore all files in src/test/resources except the ones you want to keep
src/test/resources/**
!src/test/resources/**/
!src/test/resources/*.*